.graph-border {
	background: #FFF;
	border: 1px solid #DDD;
	height: 16px;
}
.graph-bar {
	text-align: left;
	color: black;
	height: 16px;
}
.graph {
	color: white;
	background: black;
	font-weight: bold;
}

#wifimanager-survey-grid.grid {
	padding: 0;
	border-spacing: 1px;
	border-collapse: separate;
	border: 1px solid #e0e0e0;
	background: #fff;
	color: black;
}

#wifimanager-survey-grid.grid tr {
	cursor: pointer;
}

#wifimanager-survey-grid.grid td {
	padding: 2px;
	margin: 0px;
}

#wifimanager-survey-grid.grid .header {
	color: black;
	background: #e7e7e7;
}
#wifimanager-survey-grid.grid .header td {
	font-weight: bold;
}
#wifimanager-survey-grid.grid .footer {
	background: #f0f0f0;
}
#wifimanager-survey-grid.grid .odd {
	background: #f7f7f7;
}
#wifimanager-survey-grid.grid .even {
	background: #fff;
}

select.wifimanager {
	background-color: black;
	border-style: none;
	color: green;
}

input.wifimanager {
	background-color: black;
	color: green;
	border-style: none;
}

textarea.wifimanager {
	background-color: black;
	color: green;
	border-style: none;
	height: 250px;
	width: 100%;
}

input.wifimanager[type="checkbox"] {
	margin: 0;
}

fieldset.wifimanager legend.wifimanager {
    font-weight: bold;
    margin-left: -0.362em;
    padding: 0 0.272em;
	left: -1.268em;
	color: green;
}

fieldset.wifimanager {
    border: 0.09em solid green;
    margin: 0;
    padding: 0 0.725em 0.1em;
}

.tab ul {
	margin-left: -40px;
}
.tab li {
	list-style: none;
	float: left;
}
.tab ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	color: #FFF;
	background: green;
}
.tab ul a:hover {
	color: #FFF;
	background: #111;
}
.tab ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: snow;
	border-bottom: 1px solid snow;
	cursor: default;
}
.tab div {
	padding: 10px 5px;
	clear: left;
	background: snow;
	color: black;
}
.tab div a {
	color: #000;
	font-weight: bold;
}

.setting {
    margin-bottom: 0.453em;
  	margin-top: 0.453em;
    position: relative;
}

.setting .label {
    float: left;
    width: 18.931em;
}

.interfaces {
	color: white;
}
.interfaces td {
	padding-right: 20px;
	margin: 0px;
}
.tile_expanded {
	padding: 10px;
	height: auto;
	min-height: 85%;
	z-index:90;
}

.tile_content {
    height: 84%;
    overflow-y: scroll;
    position: relative;
    width: 100%;
}

.sidePanelLeft {
	margin-bottom: 15px;
	text-align: left;
	min-width: 380px;
	max-width: 550px;
	font-family: monospace;
}

.sidePanelTitle {
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: green;
	font-weight: bold;
	font-size: 15;
	color: white;
}

.sidePanelContent {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: black;
	min-height: 40px;
	color: white;
	border-color: green;
	border-style: solid;
	border-width: 1px
}