select.status {
	background-color: black;
	border-style: none;
	color: green;
}

input.status {
	background-color: black;
	color: green;
	border-style: none;
}

textarea.status {
	background-color: black;
	color: green;
	border-style: none;
	height: 250px;
	width: 100%;
}

fieldset.status legend.status {
    font-weight: bold;
    margin-left: -0.362em;
    padding: 0 0.272em;
	left: -1.268em;
	color: green;
}

fieldset.status {
    border: 0.09em solid green;
    margin: 0;
    padding: 0 0.725em 0.1em;
}

input.wifimanager[type="checkbox"] {
	margin: 0;
}

.tab ul {
	margin-left: -40px;
}
.tab li {
	list-style: none;
	float: left;
}
.tab ul a {
	display: block;
	padding: 6px 10px;
	text-decoration: none!important;
	margin: 1px;
	margin-left: 0;
	color: #FFF;
	background: green;
}
.tab ul a:hover {
	color: #FFF;
	background: #111;
}
.tab ul a.selected {
	margin-bottom: 0;
	color: #000;
	background: snow;
	border-bottom: 1px solid snow;
	cursor: default;
}
.tab div {
	padding: 10px 5px;
	clear: left;
	background: snow;
	color: black;
}
.tab div a {
	color: #000;
	font-weight: bold;
}

img {
	vertical-align: text-top;
}

.settings_right {
    float: right;
}

.meter {
    background: none repeat scroll 0 0 #AAAAAA;
    border-color: #777777 #CCCCCC #CCCCCC #777777;
    border-width: 0.09em;
    float: right;
    height: 1.0em;
    margin-top: 0.09em;
    position: relative;
    width: 14.49em;
}

.meter .text {
    height: 1.0em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    color: #FFFFFF;
}

.meter .bar {
    background-color: green;
    height: 1.0em;
}

.setting {
    margin-bottom: 0.453em;
  	margin-top: 0.453em;
    position: relative;
}

.setting .label {
    float: left;
    width: 18.931em;
}

#status_content_small .setting .label {
    float: left;
    width: 12em;
}

#contentsInfo {
    padding: 0.906em;
}

#contentsInfo div.col2l {
    float: left;
	width: 49%;
}

#contentsInfo div.col2r {
    float: right;
    width: 49%;
}

.tile_expanded {
	padding: 10px;
	height: auto;
	min-height: 85%;
	z-index: 90;
}

.tile_content {
	height: 84%;
	overflow-y: scroll;
	position: relative;
	width: 100%;
}

.sidePanelLeft {
	margin-bottom: 15px;
	text-align: left;
	min-width: 600px;
	max-width: 300px;
	font-family: monospace;
}

.sidePanelTitle {
	padding-left: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
	background: green;
	font-weight: bold;
	font-size: 15;
	color: white;
}

.sidePanelContent {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background: black;
	min-height: 40px;
	color: white;
	border-color: green;
	border-style: solid;
	border-width: 1px
}